{% extends "core/base_admin.html" %}
{% load i18n cache auth_tokens %}

{% block app_admin_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="domains">
            <a href="{% url 'careers:location_list' %}">{% trans "Locations" %}</a>
        </li>
        <li role="presentation" class="domains">
            <a href="{% url 'careers:domain_list' %}">{% trans "Domains" %}</a>
        </li>
        <li role="presentation" class="offers">
            <a href="{% url 'careers:offer_list' %}">{% trans "Offers" %}</a>
        </li>
        <li role="presentation" class="applications">
            <a href="{% url 'careers:application_list' %}">{% trans "Applications" %}</a>
        </li>
    </ul>
{% endblock %}
