{% extends 'website/base.html' %}
{% load i18n humanize static auth_tokens  %}

{% block page_title %}
    <title>{% blocktrans with offer_name=offer.name company_name=config.company_name %}
        {{ offer_name }} - Careers at {{ company_name }}
    {% endblocktrans %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        body {background-color: #fff}
        section.offer-detail {background-color: #fff; padding-top: 15vh; padding-bottom: 15vh;}
        section.offer-detail .actions .product-social-share {color: #fff; width: 100%!important;}
        section.offer-detail .actions .share {margin: 20px auto;}
        section.offer-detail .apply {width: auto; height: 50px; line-height: 35px; display: block; margin-top: 40px}
        section.offer-detail .apply i {font-size: 18px; color: #fff}
        section.offer-detail .detail {margin-top: 50px}
        section.offer-detail h1 {font-weight: 900; color: #191414; font-size: 60px}
        section.offer-detail p {color: #263b82;}

        .fb-share-button {margin-top: -8px; padding: 0}
        .icon-linkedin.share-link {height: 22px; width: 80px; margin-top: -8px; line-height: 11px;
            padding-top: 3px; padding-bottom: 3px; background: #0C77B5; color: #fff;}
        .twitter-share-button {margin: 0 10px}
        .social-icon {display: -webkit-inline-box;}
        footer {margin: 0; padding: 30px}

        @media (max-width: 767px){
            .single-right h4 {font-size: 1.8em;margin-top: 10px;margin-bottom: 5px}
            #bottom-tabs li {text-align: center;width: 50%;}
            .bottom-cntr > form {float: left;margin-left: 40px;}
            .bottom-cntr i {color: #FFF; font-size: 15px}
            #cd-search1 .cd-search input {padding: .1em .5em;}
            .header-xs h3.app-name a {width: 300%; float: left}
            .social-icon {margin-top: 1.8em; padding-left: 15px;}
            .social-icon a i {font-size: 35px}
        }
        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            .new-grid h5 {font-size: 1.5em;}
            .new-grid h6 {font-weight: 600; margin: 1em 0;font-size: 1.2em;}
            .new-grid span {font-size: 0.96em;}
            .modal .product-about .product-price em {color: #ff0000}
            .single-right h4 {margin-bottom: .2em}
            .social-icon {margin-top: 1.8em; padding-left: 15px;}
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .single-right h4 {margin-bottom: .2em}
            .social-icon {float: left; margin-top: 0;padding-left: 0; margin-bottom: 0}
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width:1200px) {
        }
        .reveal {visibility: visible; opacity: 1; display: block}
        @media (max-width: 767px) {
            section.offer-detail h1 {font-size: 30px}
            section .actions {margin-top: 40px}
            section.offer-detail .apply {font-weight: 600; font-size: 20px; padding: 10px 40px; height: 50px;  margin: 40px 0;width: auto; line-height: 27px; display: block;}
        }

    </style>
{% endblock %}
{% block header %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
    {{ block.super }}
{% endblock %}

{% block page_content %}
    {% url 'careers:offer_detail' offer.slug as current_url %}
    <section class="offer-detail">
        <div class="container">
            <h1 class="h1">{{ offer.name }}</h1>
            <p class="text-muted">{{ offer.domain }} in {{ offer.location }}</p>
            <div class="clearfix"></div>
            <div class="detail">
                <div class="col-sm-8">
                    {{ offer.description|safe }}
                </div>
                <div class="col-sm-offset-1 col-sm-3 actions">
                    <h4 class="share text-center" ><i class="fa fa-share-alt"></i> {% trans 'SHARE' %}</h4>
                    <div class="social-icon hidden-xs">
                        <div class="fb-share-button btn" data-href="{{ service.url }}{{ current_url }}" data-layout="button" data-mobile-iframe="true">
                            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php">{% trans "Share" %}</a>
                        </div>
                        <a class="twitter-share-button btn" href="https://twitter.com/intent/tweet?url={{ service.url }}{{ current_url }}" data-size="small">Tweet</a>
                        <a class="icon-linkedin share-link btn btn-sm" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ service.url }}{{ current_url }}" title="Share on LinkedIn" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="row visible-xs">
                        <div class="col-sm-offset-2 col-sm-4 col-xs-4" data-href="{{ service.url }}{{ current_url }}" data-layout="button" data-mobile-iframe="true">
                            <a class="product-social-share btn btn-block" target="_blank"  href="https://www.facebook.com/sharer/sharer.php?u={{ service.url }}{{ current_url }}"  style="background: #3b5998;">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <a class="product-social-share btn btn-block" data-toggle="modal" data-target="#twitter-share" href="https://twitter.com/intent/tweet?url={{ service.url }}{{ current_url }}" style="background: #1da1f2;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <button class="product-social-share whatsapp-share btn btn-block" data-toggle="modal" data-target="#whatsapp-share" style="background: #25d366;">
                                <i class="fab fa-whatsapp"></i>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
    {#                </div>#}
                    <a href="{% url 'careers:offer_submission' offer.slug %}" class="btn btn-sm btn-deep-blue apply"><i class="fas fa-external-link-alt"></i> {% trans 'APPLY NOW' %}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        {% url 'careers:offer_detail' offer.slug as current_url %}
        $('body').on('click', '#whatsapp-share .btn.ok', () => {
            let url = "{{ service.url }}{{ current_url }}";
            window.location = 'https://api.whatsapp.com/send?text=' + url;
        });
    </script>
{% endblock %}