{% extends 'careers/home.html' %}

{% load i18n humanize static auth_tokens  %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{% blocktrans with town=location.town company_name=config.company_name %}
        {{ town }} - Careers at ikwen {% endblocktrans %}" />
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        #banner-top h1 {font-family: 'Circular',Helvetica,sans-serif; font-size: 6.25em}
        @media (max-width: 767px) {
            #banner-top h1 {font-size: 3em}
        }
    </style>
{% endblock %}

{% block page_title %}
    <title>{% blocktrans with town=location.town company_name=config.company_name %}
        {{ town }} - Careers at ikwen {% endblocktrans %} </title>
{% endblock %}

{% block banner %}
    <section>
         <div id="banner-top">
            <div class="section-banner-top" style="background-image: url({% get_media_prefix %}{{ location.cover_image }});">
                <div class="section-banner-inner">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center">
                        <h1>{{ location.town }}</h1>
                        <p>{% blocktrans with offer_count=offer_list|length %} {{ offer_count }} offers in {{ domain_count }} domains{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}