{% extends 'careers/home.html' %}

{% load i18n humanize static auth_tokens %}
{% block page_title %}
    <title>Domains - Careers at {{ config.company_name }} </title>
{% endblock %}


{% block page_content %}
    <section class="domain-list">
        <div class="container">
            <h1 class="h1 text-center title">{% trans 'Our offer categories' %}</h1>
            {% for domain in domain_list %}
                <a class="col-sm-4 text-center domain" href="{% url 'careers:show_offer_per_domain' domain.slug %}">
                    <div class="image" style="background-image: url({% get_media_prefix %}{{ domain.cover_image }});"></div>
                    <h2>{{ domain.name }}</h2>
                    <p>{{ domain.available_offer_count }} {% trans 'offers' %}</p>
                </a>
                {% if forloop.counter == 3 %}<div class="clearfix"></div>{% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        </div>

    </section>
{% endblock %}

